.card {
transition: translate ease-in-out 100ms, box-shadow ease-in-out 100ms;
}

.card:hover,
.card:focus {
    translate: 0 -5px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, .2);
}

.form input,
.form textarea {
    background-color: black;
    color: white;
    
}

.form input:focus,
.form textarea:focus,
.modal input:focus {
    background-color: rgb(46, 45, 45);
    color: white;
    
}

.reactSelect div {
    background-color: black;
    color: white;
}

.reactSelect :nth-child(1) div:focus,
.reactSelect :nth-child(1) div:hover {
    background-color: rgb(61, 58, 58);
    color: white;
}

.modal {
    background-color: rgba(81, 79, 79, 0.4);
    color: white;
}

.modal input {
    background-color: rgb(0, 0, 0, .4);
    color: white;
}

.taggs input,
.taggs textarea {
    background-color: rgb(0, 0, 179);
    color: white;
    
}